<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js" defer></script>

    <link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
    <title> Belong's Recipe</title>
</head>
<body>
    <!-- Belong's Recipe -->
    <h2> Belong's Recipe </h2>
    <div class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">
            <% for(var i=0; i<recipe_data.recipe.length; i++){ %>
                <div class="blog-slider__item swiper-slide">
                    <div class="blog-slider__img">
                        <img src="<%= recipe_data.recipe[i].img %>" alt="">
                    </div>
                    <div class="blog-slider__content">
                        <span class="blog-slider__code"><%= recipe_data.recipe[i].dripper %></span>
                        <div class="blog-slider__title"><%= recipe_data.recipe[i].name %></div>
                        <div class="blog-slider__text">
                            <%= recipe_data.recipe[i].grounds %>g of grounds<br>
                            <% for(var j=0; j<recipe_data.recipe[i].order.length; j++){ %>
                                <%= j+1 %>. <%= recipe_data.recipe[i].order[j] %> - 
                                <%= recipe_data.recipe[i].water[j] %>ml
                                (<%= recipe_data.recipe[i].sec[j] %>sec)<br>
                            <% } %>
                        </div>
                        <a href="#" class="blog-slider__button" data-recipe="<%= i%>" onclick='drip_clickcb(<%= i%>)'>DRIP</a>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="blog-slider__pagination"></div>
    </div>
</body>
</html>